{
    auto_https off
}

{$FRONTEND_HOST}:{$CADDY_PORT} {
    handle /api/* {
        reverse_proxy 127.0.0.1:{$PORT}
    }

    handle /auth/* {
        reverse_proxy 127.0.0.1:{$PORT}
    }

    handle {
        reverse_proxy 127.0.0.1:{$VITE_DEV_PORT}
    }
}

{$API_HOST}:{$CADDY_PORT} {
    reverse_proxy 127.0.0.1:{$PORT}
}
